export("C0",
       "C0.SS",
       "C0.ssm",
       "C0<-",
       "C0<-.SS",
       "C0<-.ssm",        
       "expit",           
       "extended",        
       "extended.SS",     
       "filterstep",      
       "Fmat",            
       "Fmat.SS",         
       "Fmat.ssm",        
       "Fmat<-",          
       "Fmat<-.SS",       
       "Fmat<-.ssm",      
       "getFamily",       
       "getFit",          
       "Gmat",            
       "Gmat.SS",         
       "Gmat.ssm",        
       "Gmat<-",          
       "Gmat<-.SS",       
       "Gmat<-.ssm",      
       "kfilter",         
       "kfilter.SS",      
       "kfilter.ssm",     
       "kfs",             
       "kfs.SS",          
       "kfs.ssm",         
       "ksimulate",       
       "ksimulate.SS",    
       "logit",           
       "m0",              
       "m0.SS",           
       "m0.ssm",          
       "m0<-",            
       "m0<-.SS",         
       "m0<-.ssm",        
       "phi",             
       "phi.SS",          
       "phi.ssm",         
       "phi<-",           
       "phi<-.SS",        
       "phi<-.ssm",       
       "plot.SS",         
       "polytime",        
       "polytrig",        
       "recursion",       
       "recursion.SS",    
       "season",          
       "smoother",        
       "smoother.SS",     
       "smoother.ssm",    
       "smootherstep",    
       "smootherstep.uni",
       "SS",              
       "ssm",             
       "sumseason",       
       "Vmat",            
       "Vmat.SS",         
       "Vmat.ssm",        
       "Vmat<-",          
       "Vmat<-.SS",       
       "Vmat<-.ssm",      
       "Wmat",            
       "Wmat.SS",         
       "Wmat.ssm",        
       "Wmat<-",          
       "Wmat<-.SS",       
       "Wmat<-.ssm")   

S3method(print,Smoothed)
S3method(print,SS)        
S3method(print,ssm)        
